/** @format */

@import "tailwindcss";
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fadeIn {
	animation: fadeIn 0.8s ease-out forwards;
}

.delay-150 {
	animation-delay: 0.15s;
}

.delay-300 {
	animation-delay: 0.3s;
}
@keyframes spin-slow {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.animate-spin-slow {
	animation: spin-slow 20s linear infinite;
}
